@import "../../style.scss";

.leftBar{
    flex:2;
    padding:1.2rem;
    border-right: 1px solid gray;
    position: sticky;
    top:50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: white;
    &::-webkit-scrollbar{
        display: none;
    }
    font-size: 0.9rem;

    @include mobile{
        display: none;
    }
    .container{
        .menu{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            .menuTitle{
                font-size: 0.9rem;
                color:gray;
            }
            .user{
                display: flex;
                gap: 0.8rem;
                align-items: center;
                .userImg{
                    border-radius: 100%;
                    border: 1px solid lightgray;
                    height:30px;
                    width:30px;
                    object-fit: cover;
                }
                span{
                    font-weight: 800;
                    font-size: 0.9rem;
                }
            }

            .item{
                display: flex;
                gap:0.5rem;
                align-items: center;
                .itemIcon{
                    font-size: 1.5rem;
                }
                span{}
            }
        }
        hr{
            margin:0.8rem 0;
            border:none;
            height:0.5px;
            background-color: lightgray;
        }
    }
}