*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
}

/******** BUTTONS ********/
.btn{
    padding:0.5rem;
    border-radius: 5px;
    
}